/* Style umum */
/* body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Style form 
  .form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
  }
  
  .form header {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .form input[type="text"],
  .form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form .button {
    width: 100%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form .button:hover {
    background-color: #3e8e41;
  }
  
  .form a {
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
  }
  
  .form .signup {
    font-size: 12px;
    margin-top: 10px;
  }
  
  .form .signup span {
    display: inline-block;
  } */
  
  /* Style checkbox (hidden) */
  /* #check {
    
  } */

  /* Style umum */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Style form */
  .form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
  }
  
  .form header {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .form input[type="text"],
  .form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form .button {
    width: 100%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form .button:hover {
    background-color: #3e8e41;
  }
  
  .form a {
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
  }
  
  .form .signup {
    font-size: 12px;
    margin-top: 10px;
  }
  
  .form .signup span {
    display: inline-block;
  }
  
  /* Style checkbox (hidden) */
  #check {
    display: none;
  }
  
  #login-form, #register-form {
    display: none
  }  